.stack-work/
hcheckers.cabal
*~
*.o
*.hi
*.dyn_o
*.dyn_hi
*.swp
*.pyc
*.mo
*.log
docker/work
docker/target
docker/stack
__pycache__/
python/dist/
python/deb_dist/
python/hcheckers.egg-info/
python/hcheckers*.tar.gz
debian/hcheckersd/
debian/files
debian/debhelper-build-stamp
work/
