.stack-work/
stack.yaml.lock
hcheckers.cabal
*~
*.o
*.hi
*.dyn_o
*.dyn_hi
*.swp
*.pyc
*.mo
*.log
*.log.*
docker/work
docker/target
docker/stack
docker/build/
__pycache__/
python/dist/
python/deb_dist/
python/hcheckers.egg-info/
python/hcheckers*.tar.gz
debian/hcheckersd/
debian/files
debian/debhelper-build-stamp
work/
csv/
games/
debian/.debhelper/generated/hcheckersd/
